---
import ThemeSwitcher from '@/components/ThemeSwitcher'
---

<nav class="fixed top-0 left-0 z-50 w-full px-5">
  <div
    class="rounded-base border-border text-foreground bg-secondary-background w400:h-[unset] w400:flex-col w400:gap-3 w400:py-3 z-50 mx-auto mt-5 flex h-[70px] w-full max-w-[860px] items-center justify-between border-2 px-5
    shadow-[4px_4px_0_0_#000] transition-all duration-200 hover:shadow-[8px_8px_0_0_#000]"
  >
    <a href="/">
      <h2 class="font-heading w500:text-2xl w400:text-xl text-3xl">Lilitha Mdlalana</h2>
    </a>

    <div class="w500:text-base w400:text-sm flex items-center text-lg">
      <a class="w400:mr-7 mr-10" href="/about">About</a>
      <a class="w400:mr-7 mr-10" href="/labs">Labs</a>
      <a class="w400:mr-7 mr-10" href="/blog">Blog</a>
      <a class="w400:mr-7 mr-10" href="/tags">Tags</a>
      <ThemeSwitcher client:load />
    </div>
  </div>
</nav>
