---
import Base from '@/layouts/Base.astro'
import PostInfo from '@/components/PostInfo.astro'

const { frontmatter } = Astro.props
---

<Base meta={{ title: frontmatter.title }}>
  <div
    id="markdown"
    class="prose prose-lightMode dark:prose-darkMode prose-code:bg-main prose-headings:font-heading prose-kbd:text-foreground prose-headings:text-foreground dark:prose-headings:text-foreground prose-a:text-foreground prose-blockquote:text-foreground prose-strong:text-foreground prose-ol:text-foreground prose-ul:text-foreground prose-table:text-foreground prose-tr:text-foreground prose-td:text-foreground dark:prose-a:dark:text-foreground dark:prose-blockquote:text-foreground dark:prose-strong:text-foreground dark:prose-ol:text-foreground dark:prose-ul:text-foreground dark:prose-table:text-foreground dark:prose-tr:text-foreground dark:prose-td:text-foreground w500:prose-h1:text-xl w500:prose-h2:text-lg w500:prose-h3:text-base w500:prose-h4:text-sm w500:prose-h5:text-sm w500:prose-h6:text-sm text-foreground w500:text-sm w500:leading-[2.2] w400:text-xs w400:leading-[2.2] w-full min-w-full leading-loose"
  >
    <PostInfo
      title={frontmatter.title}
      date={frontmatter.pubDate}
      tags={frontmatter.tags}
    />
    <slot />
  </div>
</Base>

<style is:global>
  #markdown code:not(pre)::before,
  #markdown code:not(pre)::after {
    content: '';
  }

  html #markdown code:not(pre code) {
    border: 1px solid #000000;
    padding: 2px 6px;
    border-radius: 10px;
  }
</style>
